@use "../../presets" as *;
@use "../../mixins" as *;

.form {
  padding: 30px 0;
  background-color: $color-primary;

  &__container {
    gap: $gap;
    @extend %container;
    @include lg-min {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    @include lg-md {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    @include md-sm {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &-item__input {
    display: block;
    width: 100%;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.125rem;
    letter-spacing: 0.15em;
    color: $color-light;
    background-color: rgb($color-light, 0.05);
    border: 2px solid rgba($color-light, 0);
    border-bottom-color: rgb($color-light, 0.25);
    transition: background-color 0.5s ease 0s;
    transition: border-color 0.5s ease 0s;
    &::placeholder {
      color: #637588;
    }

    &:hover {
      border-color: rgb($color-light, 0.15);
      background-color: rgb($color-light, 0.15);
      border-bottom-color: $color-gray-light;
    }
    &:hover::placeholder,
    &:focus::placeholder {
      color: #97a5b3;
    }
    &:focus {
      outline: none;
      border-color: rgb($color-light, 0.15);
      background-color: rgb($color-light, 0.15);
      border-bottom-color: $color-light;
    }
  }

  &-item:nth-of-type(1) {
    @include md-sm {
      grid-column: 1 / span 2;
    }
  }

  &-item__btn {
    color: $color-light;

    border-color: rgba($color-light, 0);
    border-bottom-color: rgba($color-light, 0.25);
    background-color: rgba($color-light, 0.1);

    &:hover,
    &:focus {
      border-color: $color-light;
    }

    @include lg-min {
      width: 100%;
    }

    @include lg-md {
      width: 100%;
    }

    @include md-sm {
      width: 100%;
    }
  }
}
