@use "../../presets" as *;

.header {
  height: 100vh;
  background-color: $color-primary;
  background-image: url(../../assets/img/img-header.png);
  background-position: 50% 50%;
  background-size: cover;
  padding: 150px 0;
  display: grid;
  align-content: center;
}
