
.header {
  height: 100vh;
  background-color: #2d3651;
  background-image: url(../../assets/img/img-header.png);
  background-position: 50% 50%;
  background-size: cover;
  padding: 150px 0;
  display: grid;
  align-content: center;
}

.header-overlay {
  background-color: #2d3651;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.header-content {
  position: relative;
  z-index: 1;
}

.header-menu__container, .header-content__container {
  max-width: 1340px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header-content__title {
  margin: 0 0 53px 0;
}

.header-content__actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}


.header-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}

.header-menu__container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.header-logo {
  font-size: 1.5rem;
  letter-spacing: 0.22em;
}

.header-logo__accent {
  border: 3px solid #d53d27;
  display: inline-block;
  padding: 14px 1px 13px 5px;
  margin-right: 4px;
}

.header-logo__link {
  display: block;
  padding: 20px 20px 20px 0;
}

.header-navbar__btn {
  display: none;
}

.header-navbar__list {
  list-style: none;
  margin: -10px;
  padding: 0;
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(auto-fit, minmax(2em, max-content));
  gap: 20px;
}

.header-navbar__link {
  font-size: 1.125rem;
  letter-spacing: 0.089em;
  padding: 20px 10px;
  display: block;
  transition: color 0.5s;
}

.header-navbar__link:hover, .header-navbar__link:focus {
  color: #d66926;
}