@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
  overflow-y: scroll;
}

h1 {
  font-size: 3.75rem;
  letter-spacing: 0.08em;
  color: $color-light;
  font-weight: 300;
  font-family: $font-header;
  text-align: center;
  line-height: 1.2;

  @include lg-min {
    font-size: 3.75rem;
  }

  @include lg-md {
    font-size: 2.5rem;
  }

  @include md {
    font-size: 1.875rem;
  }
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  color: $color-primary;
  font-family: $font-header;
  font-weight: 700;
  line-height: 1.2;

  @include lg-min {
    font-size: 2.5rem;
  }

  @include lg-md {
    font-size: 2rem;
  }

  @include md() {
    font-size: 1.5rem;
  }
}

a {
  text-decoration: none;
  color: $color-light;
}
